.img-div {
  margin: 5px;
  float: left;
}

.hidden {
  display: none;
}

.modal-display {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal-display ul {
  width: 300px;
  height: auto;
  margin: auto;
  margin-top: 200px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.close-button {
  height: 26px;
  width: 26px;
  float: right;
  margin: 4px;
  border-radius: 26px;
  background: url(../img/cross.png);
  z-index: 1;
}